<h1>Stupid Coaching</h1>

<div class="you">
<p><%= @question %></p>
<p class="speaker">-You</p>
</div>

<div class="coach">
<p><%= @answer %></p>
<p class="speaker">-Your coach</p>
</div>

<div>
<%= link_to "Ask a new question", root_path %>
</div>